<div class="row">
  
  <div class="col-md-8">
    <div class="floating-table">  
    <table class="table table-striped">
      <% @articles.each do |article| %>
        <tr>
          <td>    
          <strong><%= article.title %></strong><br>
          <%= article.body %>
          </td>
        </tr>
      <% end %>      
    </table>  
    </div>      

  </div>
  
  <div class="col-md-4" style="background-color: black;
         box-shadow: inset 1px -1px 1px #444, inset -1px 1px 1px #444;">
    <%= render 'layouts/sidebar' %>
  </div>
</div>

